---
title: {{ .Style_id }} - {{ .Name }}
category: {{ if hasPrefix .Category_id "X" }}100{{ else }}{{ .Category_id }}{{ end }}
aliases: 
  - "{{ .Style_id }}"
examples: {{ .Examples }}
---

ABV: {{ .Alcohol_by_volume.Minimum.Value }}-{{ .Alcohol_by_volume.Maximum.Value }}%  
OG/FG: {{ .Original_gravity.Minimum.Value }}-{{ .Original_gravity.Maximum.Value }}/{{ .Final_gravity.Minimum.Value }}-{{ .Final_gravity.Maximum.Value }}  
SRM: {{ .Color.Minimum.Value }}-{{ .Color.Maximum.Value }}  
IBU: {{ .International_bitterness_units.Minimum.Value }}-{{ .International_bitterness_units.Maximum.Value }}

## Overall Impression
{{ .Overall_impression }}

## Appearance
{{ .Appearance }}

## Aroma
{{ .Aroma }}

## Flavor
{{ .Flavor }}

## Mouthfeel
{{ .Mouthfeel }}

## Style Comparison
{{ .Style_comparison }}

## Ingredients
{{ .Ingredients }}

## History
{{ .History }}

## Comments
{{ .Comments }}

## Commercial Examples
{{ .Examples }}

{{ with .Currently_defined_types }}
## Currently Defined Types
{{ . }}
{{ end }}

{{ with .Strength_classifications }}
## Strength Classifications
{{ . }}
{{ end }}

{{ with .Entry_instructions }}
## Entry Instructions
{{ . }}
{{ end }}