<aside class="sidebar">
  <style>
    #homeimg {
        display: none;
      }
    @media (max-width: 768px) {
      .hideable {
        display: none;
      }
      .sidebar-nav {
        display: block;
        align-items: center;
      }
      .sidebar-nav li{
        display: inline-block;
      }
      .sidebar-nav li a{
        float: left;
        padding-right: 15px;
      }
      .logo {
        width: 100px;
      }
      #homeword {
        display: none;
      }
      #homeimg {
        display: block;
        align-self: center;
      }
    }
  </style>
  <div class="container sidebar-sticky">
    <div class="logo"><a src="{{ .Site.BaseURL }}"><img class="hideable" src="{{ .Site.Params.logo }}" alt="Whiskey Row Brew Club" width="250pt" /></a></div>
    <nav>
      <ul class="sidebar-nav">
        <li id="homeword"><a href="{{ .Site.BaseURL }}">Home</a> </li>
        <li id="homeimg"><a href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="Whiskey Row Brew Club" width="100pt" /></a></a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p class="hideable">{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
