<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        
        table td,
        table th {
            padding: 0
        }

        .parent {
            text-align: center;
        }
        .child {
            display: inline-block;
            vertical-align: middle;
        }

        .c8 {
            border-style: solid;
            border-color: #000000;
            border-width: 1pt;
            vertical-align: top;
            width: 50%;
        }

        .c0 {
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c5 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
            height: 100%;
            width: 100%;
        }

        .c2 {
            font-size: 18pt
        }

        .c6 {
            height: 3.8in;
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

    </style>
</head>

<body>
    <table class="c5">
        <tr class="c6">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c0">Scores:</span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c2">Scores:</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c2">Scores:</span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c2">Scores:</span></p>
            </td>
        </tr>
        <tr class="c6">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c2">Scores:</span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Entry#: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Style:</span></p>
                <p class="c1"><span class="c0">Round: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
                <p class="c1 c3"><span class="c0"></span></p>
                <p class="c1"><span class="c2">Scores:</span></p>
            </td>
        </tr>
    </table>
    <div class="parent">
        <div class="child">Whiskey Row Brew Club form: Festival Score Report</div>
        <div class="child"><img alt="{{.Url}}" style="width: 64px; height: 64px;" src="data:image/png;base64,{{.QRCode}}"></div>
    </div>
</body>

</html>