{{ define "main" -}}
<style>
  @font-face {
    font-family: GentCaller;
    src: url('/fonts/gentlemancaller.ttf');
  }

  @media print {
    body {
      -webkit-print-color-adjust: exact;
    }
  }

  h3 {
    font-family: GentCaller;
  }

  .card-front {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 8.6cm;
    height: 5.4cm;
    background-image: url("/member-card-2025.png") !important;
    background-size: contain;
  }

  .card-back {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 8.6cm;
    height: 5.4cm;
    background-color: antiquewhite;
    background-size: contain;
    text-align: center;
  }

  img {
    border-radius: 5px 5px 5px 5px;
    width: 3.4cm;
    height: 3.4cm;
  }

  .name {
    padding-left: 3mm;
    font-size: 14pt;
    font-family: GentCaller;
  }
</style>

<script>
  function hideCard(){
    if (localStorage.getItem("wrbcMemberId") !== window.location.pathname.split('/')[2]){
      document.getElementById('card').style.display = 'none';
      document.getElementById('login').value = 'Log In'
    }
  }
  window.onload = hideCard;

  function hideSoftAsk(){
    document.getElementById('soft-ask').style.visibility = 'hidden';
  }
</script>
<div id="soft-ask">
    Stay updated with the latest news directly on your device. Allow notifications?
    <button onclick="subscribeUser()">Yes</button>
    <button onclick="hideSoftAsk()">Not now</button>
</div>
<div id="card">
  <div class="card-front">
    {{ $v := .Params.QRCode }}
    <img {{ printf "src=%q" $v | safeHTMLAttr }} />
    <p class="name">{{ .Title }}</p>
    {{ if .Page.Params.MemberSince }}
    <p style="padding-left: 3mm;">Member Since {{ .Page.Params.MemberSince }}</p>
    {{ end }}
    </p>
  </div>
  <div class="card-back">
    <h3>Discounts</h3>
    <ul>
      <li>Brown Bag Burgers + Brewery $1 off Beers</li>
    </ul>
  </div>
</div>
</div>
<button id="login" onclick="localStorage.removeItem('wrbcMemberId'); localStorage.removeItem('wrbcName'); localStorage.removeItem('wrbc2025'); window.location.href = '/my-card'">Forget My Card</button>
{{- end }}