<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; 
        width: 8.6cm;
        height: 5.4cm;
        background-image: url("/member-card.png");
        background-size: contain;
      }

      img {
        border-radius: 5px 5px 5px 5px;
        width: 3.4cm;
        height: 3.4cm;
      }
    </style>
  </head>
  <div>
    <div class="card">
      {{ $v := .Params.QRCode }}
      <img {{ printf "src=%q" $v | safeHTMLAttr }} />
      <p style="padding-left: 3mm;"><b>{{ .Title }}</b>
      <br>Member Since 2020</p>
    </div>
  </div>
</html>