{{ define "main" -}}
Please RSVP for events with a link so we are ready for you!<br>
Also available in <a href="https://calendar.google.com/calendar/embed?src=whiskeyrowbrewclub%40gmail.com&ctz=America%2FPhoenix">Google Calendar</a>
{{ with  .OutputFormats.Get "calendar" -}}
  <a href="{{ .Permalink | safeURL }}">Add this list to your calendar.</a>
{{- end }}
<br><hr>

{{ $pages := collections.Sort .Data.Pages "Params.startdate"}}
{{ range $pages -}}
  {{ $start := (time.AsTime .Params.startdate) }}
  {{ $minus1d := time.ParseDuration "-24h"}}
  {{ $now := (time.Now.Add $minus1d) }}
  {{ if ($start.After $now) }}
  <li style="padding:5;list-style-type:none">
    <span><time class="pull-right post-list" datetime="2006-01-02T15:04:05Z">{{ $start.Format "Jan 2, 2006 3:04pm (Monday)"}}</time> 
      <br>&emsp;<a href="{{ .Permalink }}">{{ .Title }}</a> 
      {{ with .Params.event_type -}} {{ if  (and (ne . "club") (ne . "meeting")) -}} (non-club event)  {{- end }}{{- end }}
      {{ with .Params.rsvp }} &emsp; <a style="color: green;" href="{{ . }}">RSVP</a>{{ end }}
    </span>
  </li>
  {{ end }}
{{- end }}

<h2>Old events</h2>
<button onclick="document.getElementsByName('oldies').forEach(e => e.style.display = 'block'); this.style.display ='none';">show old events</button>
{{ range $pages -}}
  {{ $start := (time.AsTime .Params.startdate) }}
  {{ $minus1d := time.ParseDuration "-24h"}}
  {{ $now := (time.Now.Add $minus1d) }}
  {{ if ($start.Before $now) }}
  <li name="oldies" style="padding:5;list-style-type:none;display:none">
    <span><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;&nbsp;<time class="pull-right post-list" datetime="2006-01-02T15:04:05Z">{{ $start.Format "Jan 2, 2006"}}</time> 
    </span>
  </li>
  {{ end }}
{{- end }}
{{- end }}
