---
title: {{.MonthInfo.Year}} {{.MonthInfo.Month}} Newsletter
date: {{ now }}
---
<html>
<head>
    <meta charset="UTF-8" />
    <style>
        aria-label {
            color: blue;
        }
        
        @font-face {
            font-family: GentCaller;
            src: url('/fonts/gentlemancaller.ttf');
        }

        .title {
            background-image: url('https://drive.google.com/uc?id=1VDD5jTpDrlUjG6cTUwky5sjnnYa4iE4Q');
        }

        hr {
            margin: 2.0em auto;
        }

        h1 {
            padding-bottom: 0;
            font-size: 90;
        }
        
        .gent {
            font-family: GentCaller;
        }
        
        h2 {
            padding-top: 0;
            color: teal;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
            margin-top: 0;
        }

        ul:before {
            content: attr(aria-label);
            font-size: 120%;
            font-weight: bold;
        }

        li {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        table.meetings {
            display: inline-table;
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%
        }

        th.meetings {
            text-align: center;
            background-color: rgb(44, 190, 190);
            border: 1px solid black;
            border-collapse: collapse;
        }

        td.meetings {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .event-group {
            display: flex;
            text-align: center;
        }
        
        .events {
            width: calc(100% / 3);  
            text-align: left;
            margin: 10px 10px;
        }
        
        .page {
            padding: 10px;
            max-width: 1200px;
        }
    </style>
</head>
<div class="page">
<div class="title">
    <div style="float: center;">
        <div style="text-align: center;">
            <h1 class="gent">WRBC Monthly</h1>
            <h2>{{.MonthInfo.Month}} {{.MonthInfo.Year}}</h2>
            <div style="text-align: center;">
                {{range .Config.Toplinks}}
                <a href="{{.Url}}">{{.Name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                {{end}}
            </div>
        </div>
    </div>
    <div>
        <h2>News</h2>
    {{ .MonthInfo.News }}
    </div>
    <hr>
<div class="event-group">
    <div class="events">
        <ul aria-label="Club Events" >
            {{range .MonthInfo.ClubEvents}}
            <li>
                {{if .Url}}
                <a href="{{.Url}}">{{.Name}}</a>
                {{else}}
                {{.Name}}
                {{end}}
                {{if .Info}}
                    <p style="font-style: italic;">{{ .Info }}</p>
                {{end}}
            </li>
            {{end}}
        </ul>
        </td>
    </div>

    <div class="events">
        <ul aria-label="Beer Events">
            {{range .MonthInfo.BeerEvents}}
            <li>
                {{if .Url}}
                <a href="{{.Url}}">{{.Name}}</a>
                {{else}}
                {{.Name}}
                {{end}}
                {{if .Info}}
                <ul style="font-style: italic;list-style-type: none;">
                    <li>{{.Info}}</li>
                </ul>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>
    <div class="events">
        <ul aria-label="Competitions">
            {{range .MonthInfo.Competitions}}
            <li>
                {{if .Url}}
                <a href="{{.Url}}">{{.Name}}</a>
                {{else}}
                {{.Name}}
                {{end}}
                {{if .Info}}
                <ul style="font-style: italic;list-style-type: none;">
                    <li>{{.Info}}</li>
                </ul>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>
</div>
</div>


<h2>Upcoming Meetings</h2>
<table class="meetings">
    <thead>
        <th class="meetings">date & location</th>
        <th class="meetings">gauntlet</th>
        <th class="meetings">education</th>
    </thead>
    {{range .MonthInfo.Meetings}}
    <tr>
        <td class="meetings">{{ .Date}}<br>{{ .Location}}</td>
        <td class="meetings">{{ .Gauntlet}}</td>
        <td class="meetings">{{ .Education}}</td>
    </tr>
    {{end}}
</table>

<div style="text-align: center;">
    <h2>Board of Directors</h2><br>
    {{ range $i, $e := .MonthInfo.Board }}
    <a>
        <bold>{{ $e.Position }}:</bold> {{ $e.Name }}
    </a> {{ if (modIsZero $i 3) }}</br>{{ end }}
    {{ end }}
    <div>
</div>
</html>