{{ define "main" -}}
<nav>
    <a href="/">Home</a> | 
    <a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</a> 
    {{ range .CurrentSection.Pages }}
     | <a href="{{ .RelPermalink}}">{{ .LinkTitle }}</a>
    {{ end }}
    {{ range .Page.Params.HeaderLinks }}
     | <a href="{{ .Link}}">{{ .LinkTitle }}</a>
    {{ end }}
    {{ range .Page.Sections }}
      | <a href="{{ .Link}}">{{ .LinkTitle }}</a>
    {{ end }}
</nav>
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ if .Params.Gallery }}
    {{ partial "image-gallery" . }}
  {{ end }}
</div>

{{ if .Site.Config.Services.Disqus.Shortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}